#!/usr/bin/env xdg-open

[Desktop Entry]
Name=GraphiteConk
GenericName=GraphiteConk
Comment=Start conky
Categories=Utility;System;
Exec=sh "/home/reprise/conkyScripts/CrystalConk/config/startconky.sh"
Terminal=false
StartupNotify=false
Type=Application
Icon=/home/reprise/Dropbox/3 Photos/Shortcut Icons/conk.png
Name[en_US]=CrystalConk.desktop
